@CHARSET "UTF-8";

.qui-control-childrenlist-3er-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

.qui-control-childrenlist-3er-row:last-child {
    margin-bottom: 0;
}

.qui-control-childrenlist-3er-entry {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.qui-control-childrenlist-3er-entry:hover .qui-control-childrenlist-3er-entry-footer-button {
    opacity: 0.8;
}

.qui-control-childrenlist-3er-entry-image {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.qui-control-childrenlist-3er-entry-image .quiqqer-icon {
    font-size: 100px;
}

.qui-control-childrenlist-3er-entry-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.qui-control-childrenlist-3er-entry-content-headerLink,
.qui-control-childrenlist-3er-entry-content-headerLink:hover {
    color: inherit;
}

.qui-control-childrenlist-3er-entry-content h2 {
    font-weight: bold;
    font-size: 1.3em;
}

.qui-control-childrenlist-3er-entry-content-short {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.qui-control-childrenlist-3er-entry-content-footer {
    margin-top: auto;
    font-size: 0.9em;
}

.qui-control-childrenlist-3er-entry-content-footer-authorDate {
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.qui-control-childrenlist-3er-entry-content-footer-author,
.qui-control-childrenlist-3er-entry-content-footer-date,
.qui-control-childrenlist-3er-entry-content-footer-time {
    margin-right: 15px;
}

.qui-control-childrenlist-3er-entry-content-footer-author:last-child,
.qui-control-childrenlist-3er-entry-content-footer-date:last-child,
.qui-control-childrenlist-3er-entry-content-footer-time:last-child {
    margin-right: 0;
}

.qui-control-childrenlist-3er-entry-content-footer-button {
    font-weight: 300;
    display: inline-block;
    font-size: 1.1em;
}

/* hyphenate / word break */
.qui-control-childrenlist-3er-entry-content header {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: normal;
    word-break: normal;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* pagination */

.quiqqer-sheets-desktop {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {

    .qui-control-childrenlist-3er-row {
        display: block;
        margin-bottom: 0;
    }

    .qui-control-childrenlist-3er-row:last-child .qui-control-childrenlist-3er-entry:last-child {
        border-bottom: none;
    }

    .qui-control-childrenlist-3er-entry {
        border-bottom: 1px solid #eee;
        display: block;
        margin: 0;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .qui-control-childrenlist-3er-entry-image {
        height: auto;
        max-height: 150px;
    }
}
