
.qui-control-childrenlist-imageTop {
    font-size: 0.9em;
    padding: 2em 0;
    border-bottom: 1px solid #eee;
}

.qui-control-childrenlist-imageTop:first-child {
    padding-top: 0;
}

.qui-control-childrenlist-imageTop:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.qui-control-childrenlist-imageTop-entry-headerLink,
.qui-control-childrenlist-imageTop-entry-headerLink:hover {
    color: inherit;
}

.qui-control-childrenlist-imageTop h2 {
    font-size: 1.5em;
}

.qui-control-childrenlist-imageTop-image {
    margin-bottom: 1em;
    max-height: 260px;
    overflow: hidden;
    text-align: center;
}

.qui-control-childrenlist-imageTop header {
    padding-bottom: 10px;
}

.qui-control-childrenlist-imageTop-short {
    line-height: 1.5em;
}


.qui-control-childrenlist-imageTop-image .quiqqer-icon {
    font-size: 100px;
}

/* author and date */

.qui-control-childrenlist-imageTop-footer {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.qui-control-childrenlist-imageTop-footer-wrapper {
    display: inline-block;
    text-align: right;
}

.qui-control-childrenlist-imageTop-footer-wrapper-author {
    font-style: italic;
}

.qui-control-childrenlist-imageTop-footer-wrapper-author .fa {
    margin-right: 1px;
}

.qui-control-childrenlist-imageTop-footer-wrapper-time {
    margin-left: 16px;
}

.qui-control-childrenlist-imageTop-show-more {
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
}

/* hyphenate / word break */
.qui-control-childrenlist-imageTop header {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: normal;
    word-break: normal;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
