.quiqqer-sitetypes-inlineframe__iframe {
    display: block;
    border: none;
    height: var(--_qui-sitetypes-controls-inlineFrame-height--desktop);
    width: var(--_qui-sitetypes-controls-inlineFrame-width);
    max-width: 100%;
    margin-inline: auto;
}

@media screen and (max-width: 767px) {
    .quiqqer-sitetypes-inlineframe__iframe {
        height: var(--_qui-sitetypes-controls-inlineFrame-height--mobile);
    }
}